.ResultList_list {
    padding-bottom: 15px;
}

.ResultList_list_title {
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.ResultList_items {
    padding-left: 20px;
    list-style-type: disc;
}
